*{
  margin: 0;
  padding: 0;
}

.contentor {
  padding: 5px;
}

#caixa-projectos {
  border: 1px solid red;
  padding: 5px;
}

.titulo-projecto {
  border: 1px solid blue;
  padding: 5px;
}

.cartoes-todos {
  border: 1px solid green;
  padding: 5px;
}

.todo {
  border: 1px solid yellowgreen;
  padding: 5px;
}

#botoes-projectos {
  border: 1px solid brown;
  padding: 5px;
}

#botao-criar-projecto {
  border: 1px solid turquoise;
  padding: 5px;
}
